@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
body{
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #555;
    background: #181818!important;
    position: relative!important;

}
.navbar-brand>img{
width:383.5px ;
height: 86px;
}
ul.nav a{
    color: white;
}
ul.nav a:hover{
    border-bottom: snow 2px solid;
}
ul.navbar{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
ul.nav .dropdown-menu{
    background-color: #0e1722;
}
nav.navbar.navbar-expand-md {
    background: transparent;
    position: absolute;
    margin-left: auto;
    display: flex;
    justify-content: end;
    width: 100%;


}
.header1>.main-text1 {
margin-left: 35%;
    margin-right: 30%;
margin-top: 50vh;

    text-align: center;


}
.main-text1 h1 {
    font-size: 40px;
    font-family: 'Chivo', sans-serif;
    font-weight: 600;
    color: white;

}
.main-text1 h3 {
    font-size: 30px;
    font-family: 'Chivo', sans-serif;
    font-weight: 600;
    color: white;
    position: relative;



}
#slides img {
margin-top: 0;
}
nav .navbar{
    background: inherit;

}
.dropdown-item.active, .dropdown-item:active{
    background-color: #0e1722!important;
}
.header1{
    background-image: url("../img/background.jpg")!important;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;

}
#sect{
    background-image: url("../img/afewwords.jpg");
color: white;
    background-size: cover;

}
.text{
margin-left: 20px;
}
/*--icon--*/
.fa-film{
    color: #d9d7d7;
}
.fa-film, .fa-artstation, .fa-critical-role{
    font-size: 3.5em;
}
.afew{
    display: flex;


}
.col-md-6{
    text-align: left;
    margin: 8em auto auto 10px;
}
/*--more originals--*/
.section-header{
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgb(24, 24, 24) 14%);
    color: white;
}
.link-container {
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.title-link{
position: relative;
    background: #181818;
    overflow: hidden;

}
.title-link:hover .details{
    transform: translateY(0);
    transition: .5s ease;
}

.details {
    width: 27.87em;
    text-decoration: none;
    color: white;
    margin-top: -60px;
    transform: translateY(100%);
    overflow: hidden;

}
.details h3{
    font-size: 17px;
    color: white;
    text-decoration: none;

    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0) 8%,rgba(0,0,0,0) 39%,rgba(0,0,0,0.62) 70%,rgba(0,0,0,1) 89%,rgba(0,0,0,1) 98%,rgba(0,0,0,0) 100%);
}
.title-link-img{
    height: 250px;
    position: inherit;
}